.btn_wrapper {
  position: fixed;
  z-index: 100000000;
  bottom: 30px;
  right: 30px;
  background: #199c68;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.t651__icon, .icon-close {
  fill: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn_active .icon-close {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

.icon-close, .btn_active .t651__icon {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}

.t651__btn {
  bottom: 50px;
  right: 100px;
  cursor: pointer;
  position: fixed;
}

.blockinput-success {
  text-align: center;
  padding: 20px;
  font-family: 'FuturaPT', Arial, sans-serif;
}

.blockinput {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blockbutton {
  margin-bottom: 20px;
}

.blockbutton button {
  width: 100%;
}

.popup-container {
  margin: 0;
  top: initial;
  left: initial;
  bottom: 125px;
  right: 100px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
  background: #fff;
  position: fixed;
  z-index: 1;
  cursor: default;
  text-align: center;
  max-width: 360px;
}

.t651__wrapper {
  padding: 30px 35px 40px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 65vh;
}

.popup {
  display: none;
}

.btnTop {
  position: fixed;
  z-index: 100000000;
  bottom: 30px;
  left: 20px;
  min-height: 30px;
  display: none;
  cursor: pointer;
}

.socialLinks, .phone, .logos {
  margin-top: 20px;
}

.logos {
  margin-top: 10px;
}

.jumbotron {
  margin-bottom: 0;
}

.blockFirst {
  margin-top: 20vh;
  margin-bottom: 31vh;
  text-align: center;
}

.blockFirst h1 {
  font-size: 5vh;
  margin-bottom: 2.3vh;
}

.blockFirst p {
  font-size: 4vh;
  margin-bottom: 10vh;
}

.blockFirst a {
  padding: 1.5vh 5vh;
}

.blockSecond {
  margin-top: 4vh;
  margin-bottom: 6vh;
  text-align: center;
}

.blockSecond h2 {
  font-size: 4vh;
  margin-bottom: 10vh;
}

.blockSecond .row {
  margin-bottom: 0vh;
}

.blockSecond p {
  margin-top: 3vh;
  margin-bottom: 6vh;
}

.blockThird {
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.blockThird p {
  line-height: 3vh;
}

.blockThird a {
  margin-top: 4vh;
  padding: 1.5vh 5vh;
}

.blockFourth {
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.blockFourth h2 {
  font-size: 4vh;
  margin-bottom: 10vh;
  text-align: center;
}

.blockFourth img {
  margin-right: 3vh;
}

.blockFourth .row {
  margin-bottom: 5vh;
}

.blockFourth .col {
  padding-top: 15px;
}

.blockFifth {
  margin-bottom: 2vh;
}

.imageSample {
  margin-bottom: 20px;
}

.blockSixth {
  margin-top: 4vh;
  margin-bottom: 6vh;
  text-align: center;
}

.blockSixth h2 {
  font-size: 4vh;
  margin-bottom: 10vh;
}

.blockSixth p {
  font-size: 3vh;
}

.blockSixth .btn {
  margin-bottom: 50px;
}

.p-1 {
  background: -moz-linear-gradient(to top, transparent, rgba(255, 255, 255, 1)), url("images/picture_1.jpg");
  background: -webkit-linear-gradient(to top, transparent, rgba(255, 255, 255, 1)), url("images/picture_1.jpg");
  background: -o-linear-gradient(to top, transparent, rgba(255, 255, 255, 1)), url("images/picture_1.jpg");
  background: -ms-linear-gradient(top, transparent, rgba(255, 255, 255, 1)), url("images/picture_1.jpg");
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 1)), url("images/picture_1.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    bottom center,
    bottom -150px;
  background-size:
    cover,
    cover;
}

.p-2 {
  background-color: #fcfbef;
}

.refineryDataGrid .h6 {
  padding-top: 0;
  margin-bottom: 0;
  height: 40px;
  border: none;
}

.refineryDataGrid p {
  border-top: 1px solid #B5B5B5;
  padding-top: 10px;
}

.p-3 {
  background-color: #fff;
}

.contactBlock {
  background-color: #292929;
  border-radius: 0;
}

.contact {
  margin-bottom: 30px;
  color: white;
}

.contact a {
  color: #ff8562;
  font-size: 22px;
}

.contact .phone a {
  color: white;
}

.contact .title {
  font-size: 38px;
}

.contact .address {
  font-size: 22px;
}

.copyrightBlock {
  background-color: #0d0d0d;
  color: #9d9d9d;
  font-size: 12px;
  text-align: center;
  border-radius: 0;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 9em;
  }
}